body{
    background-color: burlywood;
margin:auto;
padding:0ch

}


h1{
    color: royalblue;
    text-align: center;
    
}

h2{
    color: blueviolet;
    text-align: center;
}


